<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>

    <title>Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <!--external css-->
            <link href="font/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--&lt;!&ndash;[if lt IE 9]>-->
      <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
      <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
  </head>

  <body>
  <section id="container" >
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="manager.html"><img src="/img/ui-sam.jpg" class="img-circle" width="60" /></a></p>
              	  <h5 class="centered">Admin</h5>

                  <li class="mt">
                      <a class="active" href="manager.html">
                          <i class="fa fa-dashboard"></i>
                          <span>考试信息</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="/usermanager" >
                          <i class="fa fa-desktop"></i>
                          <span>考生管理</span>
                      </a>
                      <!--<ul class="sub">-->
                          <!--<li><a  href="/usermanager">综合查询</a></li>-->
                      <!--</ul>-->
                  </li>

                  <li class="sub-menu">
                  <a href="/questionmanager" >
                      <i class="fa fa-cogs"></i>
                      <span>试题管理</span>
                  </a>
                  <!--<ul class="sub">-->
                  <!--<li><a  href="questionmanager.html">试题查询</a></li>-->
                  <!--</ul>-->
                    </li>

                  <li class="sub-menu">
                      <a href="/createexamManager" >
                          <i class="fa fa-book"></i>
                          <span>考试管理</span>
                      </a>
                      <!--<ul class="sub">-->
                          <!--<li><a  href="/createexam">创建</a></li>-->
                          <!--<li><a  href="login.html">修改</a></li>-->
                      <!--</ul>-->
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>数据统计</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/grademanager">成绩查询</a></li>
                          <!--<li><a  href="basic_table.html">成绩统计</a></li>-->
                          <li><a  href="/errorQuestionsManager">错题统计</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="#" onclick="exitadmin()">
                          <span>退出</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <div>
                  <h3><i class="fa fa-angle-right"></i>已发布考试</h3>
              </div>
              <div class="container-fluid">
                  <div class="row-fluid">
                      <div class="span12 col-lg-9" id="message">
                      </div>
                  </div>
              </div>
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer" style="background-color: inherit">
          <div class="text-center" style="color: #797979">
              ExamManagerSystem version 1.41 2018
              <a href="manager.html" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <script src="js/jquery/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/common.js"></script>
    <script class="include" type="text/javascript" src="js/jquery/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery/jquery.scrollTo.min.js"></script>
    <script src="js/jquery/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script>
    <script src="js/examinfoManager.js"></script>
  </body>
</html>
