<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/exam</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.exam.common.entity.ExamAnswerLogEntity"/>
      <mapping class="com.exam.common.entity.ExamAreaEntity"/>
      <mapping class="com.exam.common.entity.ExamErrorQuestionEntity"/>
      <mapping class="com.exam.common.entity.ExamExaminationEntity"/>
      <mapping class="com.exam.common.entity.ExamExaminationLimitEntity"/>
      <mapping class="com.exam.common.entity.ExamExaminationPaperEntity"/>
      <mapping class="com.exam.common.entity.ExamExamineeEntity"/>
      <mapping class="com.exam.common.entity.ExamGradeEntity"/>
      <mapping class="com.exam.common.entity.ExamQuestionEntity"/>
      <mapping class="com.exam.common.entity.SysUserEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>