<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="#"/>
        <title>考试须知</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <!-- Custom styles for this template -->
    </head>
    <body>
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="title" class="navbar-brand">须知</div>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li ><a href="/examinfoExaminees">考试信息</a></li>
                    <li><a href="/gradeExaminees">成绩查询</a></li>
                    <li class="active"><a href="/exampointExaminees">考试须知</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" onclick="exit()"><a href="#">退出 <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
        <div class="showback" style="margin: 15px">
            <h4><i class="fa fa-angle-right"></i> 考试须知：</h4>

            <div class="alert alert-info"><b>1.</b> 请在<strong>规定时间段内</strong>进行考试</div>
            <div class="alert alert-info"><b>2.</b> 考试过程中请勿刷新、关闭、跳转页面,否则会重置考试</div>
            <div class="alert alert-info"><b>3.</b> 每场考试都有限定的时间，超时自动提交 </div>
            <div class="alert alert-info"><b>4.</b> 在考试时间段内，考试信息页面如无考试，请<strong>刷新</strong>页面</div>
            <div class="alert alert-info"><b>5.</b> 成绩查询页面显示所有已完成的考试成绩</div>

        </div>

        <script src="js/jquery/jquery-3.1.1.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/common.js" type="text/javascript"></script>
    </body>
</html>
