.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
    vertical-align:text-top;
    padding-top:2px;
}

.nomargin{
   margin: 0;
}

.useflex{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.displayno{
    display: none !important;
}