<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../../../../js/jquery-3.1.1.js"></script>
    <script src="../../../../js/test.js"></script>
</head>
<body >
<button onclick="gets()">test</button>
<!--hello-->
<!--<form action="/user/register" method="post">-->
<h1>123</h1>
<span id="test"></span>
    <!--<input messageType="number" value="123124" name="num1"/>-->
    <!--<input messageType="number" value="123124" name="num2"/>-->
    <!--<input messageType="text" value="123dasd" name="text2"/>-->

    <!--<input messageType="submit" value="Click"/>-->

<!--</form>-->
</body>
</html>